@inherits LayoutComponentBase

@Body

@*<div class="top-special">
    <div class="px-4" style="margin-left: 2em; margin-right: 2em;">
        <h3>COMCAST CORPORATION</h3>
        <h4>PHILADELPHIA, PA</h4>
    </div>
</div>

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>*@
