@inherits LayoutComponentBase

<div class="top-special">
    <div class="top-row px-4">
        <span>Comcast</span>
    </div>
</div>

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
