@page "/company"

@inject IJSRuntime JSRuntime

<h3>Comcast</h3>

<div class="h-carousel slider">
    <div>Diversity Score</div>
    <div>ERGs</div>
    <div>D&amp;I Events</div>
    <div>Salaries</div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("initCarousel");
    }
}
